@import '../../assets/css/variables.scss';

.input-container {
  position: relative;
  display: flex;
  flex-direction: row;
}

.launcher-input {
  caret-color: white;
  background: transparent;
  flex: 1;
  color: $font-color;
  height: $input-height;
  border: none;
  outline: none;
  font-size: 1.5em;
  padding: 0 5px;
  box-sizing: border-box;
}

.total-number {
  @include center-text-vertical;
  font-size: 1.5em;
  padding-right: 5px;
  font-weight: bold;
  color: $selected-area-color;
  box-sizing: border-box;
}

.context-tab {
  @include center-text-vertical;
  font-size: 1.5em;
  font-weight: bold;
  color: $font-color;
  border-radius: 25px 5px 5px 25px;
  background-color: $context-color;
  box-sizing: border-box;
  padding-left: 15px;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}