html, body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

::-webkit-scrollbar
{
  width: 5px;
  height: 5px;
	background-color: #3e4143;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

.bigger {
  font-size: 40px;
}

.loader {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.title {
  text-align: center;
  font-size: 55px;
  color: #3e4143;
}
